:root {
    --color-bg-nav: #2c3e50;
    --color-bg-odd: #1abc9c;
    --color-bg-footer: #3a546d;
    --color-text-black: #333333;
    --color-text-main: #ffffff;
    --color-transparency: rgba(255, 255, 255, 0);
  }


.rm-debug{
    border: 1px solid red;
}


.odd{
    background: #1abc9c;
}

.footer-bot{
    background-color: #2c3e50;
}

.navbar-nav li a:hover{
    color: #1abc9c;
}

#portfolio-nav a.nav-link{
    color: white;
}

#portfolio-nav a.nav-link:hover{
    color: #1abc9c;
}



